html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.circle-list {
  height: 100% !important;
}
.circle-list > .carousel__back-button,
.circle-list > .carousel__next-button {
  margin-top: 75px;
  height: calc(100% - 150px) !important;
}
.circle-list > .carousel__back-button,
.circle-list > .carousel__next-button {
  position: absolute;
  top: 0;
}
.circle-list > .carousel__back-button {
  left: 0;
}
.circle-list > .carousel__next-button {
  right: 0;
}

.product-list {
  height: 100% !important;
}
.product-list > .carousel__back-button {
  margin-left: 75px;
  width: calc(100% - 150px) !important;
  position: absolute;
  left: 0;
}
.product-list > .carousel__next-button {
  width: 100% !important;
  position: absolute;
  left: 0;
}
.product-list > .carousel__back-button {
  top: 0;
}
.product-list > .carousel__next-button {
  bottom: 0;
}

.circle-card,
.product-card {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.circle-card  > .card,
.product-card > .card {
  width: 100%;
  height: 100%;
}

.circle-card  .card-header
.product-card .card-header {
  padding: .75rem .75rem;
}

.circle-card  .card-header > .badge,
.product-card .card-header > .badge {
  margin-right: .25rem;
  font-size: 100%;
}


.circle-card  img,
.product-card img {
  height: 200px;
}

.circle-card  .card-body,
.product-card .card-body {
  overflow-y: scroll;
  height: calc(100% - 200px);
}

.circle-card  .form-label,
.product-card .form-label {
  font-size: 75%;
  margin-bottom: 0;
  border-bottom: 3px solid lightgray;
  width: 100%; 
}

.circle-card  .form-group,
.product-card .form-group {
  margin-bottom: 0;
}