html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  padding: 24px;
}

.loading {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading > div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

.card-container {
  width: 100%;
  height: 100%;
}

.circle-card,
.product-card {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.circle-card  > .card,
.product-card > .card {
  width: 100%;
  height: 100%;
}

.circle-card  .card-header
.product-card .card-header {
  padding: .75rem .75rem;
}

.circle-card  .card-header > .badge,
.product-card .card-header > .badge {
  margin-right: .25rem;
  font-size: 100%;
}


.circle-card  img,
.product-card img {
  height: 200px;
}

.circle-card  .card-body,
.product-card .card-body {
  overflow-y: scroll;
  height: calc(100% - 200px);
}

.circle-card  .form-label,
.product-card .form-label {
  font-size: 75%;
  margin-bottom: 0;
  border-bottom: 3px solid lightgray;
  width: 100%; 
}

.circle-card  .form-group,
.product-card .form-group {
  margin-bottom: 0;
}

.btn-hidden {
  display: none;
}

.circle-prev {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 75px * 2);
  min-width: 75px;
  width: 10%;
  margin-top: 75px;
}
.circle-next {
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100% - 75px * 2);
  min-width: 75px;
  width: 10%;
  margin-top: 75px;
}
.product-prev {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 75px * 2);
  min-height: 75px;
  height: 10%;
  margin-left: 75px;
}
.product-next {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 75px * 2);
  min-height: 75px;
  height: 10%;
  margin-left: 75px;
}

.card-menu-btn {
  position: absolute;
  left: 4px;
  top: 4px;
}